td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 1em 0;
	width: 100%;
}

.btn {
	background-color: #ddd;
}

.btn:hover {
	background-color: #4169E1;
	color: #fff;
}

.form-control {
	font-size: 0.7em;
	line-height: 2.2em;
	width: 90%;
}

.table td {
	padding-bottom: 0;
}

svg {
	height: 150px;
}

td:first-of-type, td:first-of-type > div {
	height: 200px;
	width: 250px;
}